body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.container {
  overflow: auto;
  max-width: 960px;
  margin: 0 auto; }
  .container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .container p {
    margin: 0; }
  .container .content {
    float: left;
    width: 70%;
    background-color: #cbf1ff;
    border-left: 1px solid #91ccdf;
    border-right: 1px solid #91ccdf;
    box-sizing: border-box;
    height: 100%;
    text-align: center; }
    .container .content img.fisherman {
      width: 150px;
      display: inline-block;
      margin: 10vh 0; }
    .container .content h1 {
      font-size: 38px;
      color: #40578E;
      margin-bottom: 4vh; }
    .container .content p {
      text-align: justify;
      width: 60%;
      margin: 0 auto;
      color: #4e4e4e; }
    .container .content form {
      overflow: auto;
      width: 66%;
      display: inline-block; }
      .container .content form input[type="text"] {
        height: 45px;
        font-size: 20px;
        padding: 16px;
        width: calc(100% - 63px);
        float: left;
        display: block;
        margin: 0;
        border-top: 1px solid #91ccdf;
        border-left: 1px solid #91ccdf;
        border-right: none;
        border-bottom: 1px solid #91ccdf;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px; }
        .container .content form input[type="text"]:focus {
          outline: none;
          border-top: 1px solid #65a5ba;
          border-left: 1px solid #65a5ba;
          border-bottom: 1px solid #65a5ba; }
      .container .content form button[type="submit"] {
        float: left;
        display: block;
        margin: 0;
        padding: 0;
        background-color: white;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-top: 1px solid #91ccdf;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #91ccdf;
        border-bottom: 1px solid #91ccdf;
        box-sizing: border-box;
        cursor: pointer; }
        .container .content form button[type="submit"] img {
          height: 29px;
          margin: 7px 18px 7px 14px;
          opacity: .25; }
        .container .content form button[type="submit"]:hover img {
          opacity: .45;
          transform: translateX(2px);
          transition: all 0.2s cubic-bezier(0.16, -0.24, 0.25, 1.93); }
  .container .sidebar {
    float: left;
    width: 30%;
    border-right: 1px solid #dcdcdc;
    background-color: #f3f3f3;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    position: relative; }
    .container .sidebar #phishie-ticker, .container .sidebar #emails-ticker {
      height: calc(50% - 20px);
      overflow-y: scroll;
      padding: 10px; }
      .container .sidebar #phishie-ticker a:nth-child(2) .ticker-item, .container .sidebar #emails-ticker a:nth-child(2) .ticker-item {
        margin-top: 20px; }
    .container .sidebar #emails-ticker {
      border-top: 1px solid #e0e0e0;
      height: calc(50% - 21px); }
    .container .sidebar a {
      text-decoration: none;
      color: #A9A9A9; }
    .container .sidebar a:hover {
      color: black; }
      .container .sidebar a:hover .ticker-item {
        background-color: #e0e0e0; }
        .container .sidebar a:hover .ticker-item img {
          opacity: 1; }
    .container .sidebar .ticker-item {
      background-color: white;
      border-radius: 20px;
      padding: 10px 15px;
      margin-bottom: 10px;
      border: 1px solid #e0e0e0;
      overflow: auto;
      overflow-x: hidden; }
      .container .sidebar .ticker-item img {
        float: left;
        width: 15px;
        margin-top: 2px;
        margin-right: 8px;
        opacity: .24; }
      .container .sidebar .ticker-item p {
        float: left;
        width: 1px; }
    .container .sidebar .header {
      position: absolute;
      background-color: #f3f3f3;
      margin-top: -10px;
      width: 100%;
      z-index: 10000; }
      .container .sidebar .header p {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: .5px;
        color: #a9a9a9;
        margin: 7px 16px; }

.swal-modal {
  width: 400px; }
  .swal-modal .swal-title {
    width: 280px;
    margin: 0 auto; }
  .swal-modal .swal-footer {
    text-align: center;
    margin-bottom: 13px; }
  .swal-modal p.email {
    border-radius: 100px;
    padding: 10px 16px;
    background-color: #e9e9e9;
    margin: 10px;
    display: inline-block; }
  .swal-modal table {
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-collapse: collapse; }
    .swal-modal table tr td {
      padding: 6px 10px; }
    .swal-modal table tr:nth-child(odd) {
      background-color: #e9e9e9; }
    .swal-modal table tr td:nth-child(1) {
      text-align: right; }
    .swal-modal table tr:nth-child(1) td:nth-child(2), .swal-modal table tr:nth-child(2) td:nth-child(2) {
      font-family: monospace; }
